<div *ngIf="error" class="alert alert-danger" role="alert">{{ error }}</div>
<div *ngIf="!error">
    <h2>Editing Tags For Answer {{ answerID }}</h2>

    <div class="my-3 row">
        <div class="col-sm-2">Question</div>
        <div class="col-sm-4">{{ question.str }}</div>
    </div>

    <div class="my-3 row">
        <div class="col-sm-2">Answer</div>
        <div class="col-sm-4">{{ answer.str }}</div>
    </div>

    <form>
        <div class="form-group row">
            <label for="selTags" class="col-sm-2 col-form-label">Tags</label>
            <div class="col-sm-4">
                <ng-select id="selTags" name="selTags" [items]="allTags" bindLabel="name"
                           [multiple]="true" [(ngModel)]="answerTags">
                </ng-select> 
            </div>
        </div>
        
        <div class="form-group row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <button class="btn btn-lg btn-success mr-2" type="button" (click)="save()">
                    Save
                </button>
                <a class="btn btn-lg btn-danger" role="button" [routerLink]="['../../']">
                    Cancel
                </a>
            </div>
        </div>
    </form>

    <div *ngIf="message" [className]="'alert ' + (success ? 'alert-success' : 'alert-danger')" 
         role="alert" (click)="message=''">
        {{ message }}
    </div>
</div>
