<div *ngIf="error" class="alert alert-danger" role="alert">{{ error }}</div>
<div *ngIf="!error">
    <h2>Add Question Answer Rule</h2>

    <p>
        If the user's answer is equal to the specified answer, assign the specified tags to their
        answers.
    </p>

    <form>
        <div class="form-group row">
            <label for="selQ" class="col-sm-2 col-form-label">Questionnaire</label>
            <div class="col-sm-4">
                <ng-select id="selQ" name="selQ" [items]="allQuestionnaires" bindLabel="name"
                           [(ngModel)]="selectedQ">
                </ng-select>
            </div>
        </div>

        <div class="form-group row">
            <label for="selQu" class="col-sm-2 col-form-label">Question</label>
            <div class="col-sm-4">
                <ng-select id="selQu" name="selQu" [items]="selectedQ.questions" bindLabel="str" 
                           bindValue="id" [(ngModel)]="questionAnswer.questionID">
                </ng-select>
            </div>
        </div>

        <div class="form-group row">
            <label for="inputAnswer" class="col-sm-2 col-form-label">
                Answer (case insensitive)
            </label>
            <div *ngIf="getChoices() as choices" class="col-sm-4">
                <ng-select id="inputAnswer" name="inputAnswer" [items]="choices" bindLabel="str" 
                           bindValue="str" [(ngModel)]="questionAnswer.str">
                </ng-select>
            </div>
            <div *ngIf="!getChoices()" class="col-sm-4">
                <input id="inputAnswer" name="inputAnswer" class="form-control" type="text"
                       [(ngModel)]="questionAnswer.str"> 
            </div>
        </div>

        <div class="form-group row">
            <label for="selTags" class="col-sm-2 col-form-label">Tags</label>
            <div class="col-sm-4">
                <ng-select id="selTags" name="selTags" [items]="allTags" bindLabel="name" 
                           [multiple]="true" [(ngModel)]="qaTags">
                </ng-select>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <button class="btn btn-lg btn-success mr-2" type="button" (click)="add()">
                    Add
                </button>
                <a class="btn btn-lg btn-danger" role="button" [routerLink]="['/rules']"
                   [queryParams]="{ selected: 'questionAnswer' }">
                    Cancel
                </a>
            </div>
        </div>
    </form>

    <div *ngIf="message" [className]="'alert ' + (success ? 'alert-success' : 'alert-danger')" 
         role="alert" (click)="message=''">
        {{ message }}
    </div>
</div>