<div *ngIf="error" class="alert alert-danger" role="alert">Error: {{ error }}</div>
<div *ngIf="!error">
    <h2>Updating Password For {{ email }}</h2>

    <form #passwordForm="ngForm">
        <div class="form-group row">
            <label for="inputPassword" class="col-sm-1 col-form-label">Password</label>
            <div class="col-sm-3">
                <input name="inputPassword" id="inputPassword" type="text" class="form-control"
                       [(ngModel)]="password">
            </div>

            <div class="col-auto">
                <button type="button" class="btn btn-primary" (click)="randomPassword()">
                    Random Password
                </button>
            </div>

            <div class="col-sm-5">
                <label for="passwordLength" class="col-form-label col-auto">
                        Length: {{ passwordLength }}
                </label>
                <input id="passwordLength" name="passwordLength" type="range" 
                        class="custom-range col-sm-3" min="10" max="30" 
                        [(ngModel)]="passwordLength">
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-1"></div>
            <div class="col-auto">
                <button type="button" class="btn btn-lg btn-success mr-2" (click)="updatePassword()">
                    Update Password
                </button>

                <a role="button" class="btn btn-lg btn-danger" [routerLink]="['../../']">
                    Cancel
                </a>
            </div>
        </div>
    </form>

    <div *ngIf="message" [className]="'alert ' + (success ? 'alert-success' : 'alert-danger')" 
         role="alert" (click)="message = ''">
        {{ message }}
    </div>
</div>